---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ivan Trajanovski, a mobile developer from Salzburg, Austria 🇦🇹.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Flutter</li>
        <li>SwiftUI</li>
        <li>Astro</li>
        <li>Dart</li>
        <li>Swift</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about football and skiing. When I'm not building mobile apps,
      you'll find me watching football matches or hitting the slopes in the beautiful Austrian Alps.
    </p>
  </div>
</Card>
