---
import { Icon } from "astro-iconify";

const today = new Date();
---

<footer class="mt-20 md:mt-36 mx-4">
  <div class="flex gap-4 pb-8 mb-5 flex-col lg:flex-row">
    <div class="w-full">
      <div class="flex gap-10">
        <ul class="flex gap-4 text-sm">
          <li>
            <a href="/" class="flex items-center gap-1 hover:no-underline hover:text-gray-600">Home</a>
          </li>
          <li>
            <a href="/blog" class="flex items-center gap-1 hover:no-underline hover:text-gray-600">Blog</a>
          </li>
          <li>
            <a href="/about" class="flex items-center gap-1 hover:no-underline hover:text-gray-600">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-sm font-medium mb-10">
    &copy; {today.getFullYear()} Ivan Trajanovski. All rights reserved.
  </p>
</footer>
